# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Environment variables
.env
postgres_connection.txt

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

djb_cbow_dataset.pt
djb_cbow_dataset_corpus.pt
djb_cbow_dataset_word_to_idx.pt
djb_cbow_dataset_idx_to_word.pt
djb_cbow_dataset_training_data.pt
djb_cbow_model.pth
djb_cbow_model_state_dict.pth