pandas>=2.0.0
SQLAlchemy>=2.0.0
python-dotenv>=1.0.0
psycopg2-binary>=2.9.0
pyarrow>=14.0.1
wikipedia2vec>=0.8.2
wandb>=0.15.0
scipy>=1.11.0
torch>=2.0.0
requests>=2.31.0
numpy>=1.26.3
matplotlib-inline>=0.1.6
ipykernel>=6.29.0
ipython>=8.21.0
jupyter>=1.0.0
notebook>=6.5.5
torchvision>=0.17.0
torchaudio>=2.2.0
triton>=2.2.0
